{% extends 'base.html' %}

{% block head %}
<title>Inventory Management</title>
{% endblock %}

{% block body %}
<div class="container-fluid" style="margin: 1rem;">
    <div class="row">
        <a class="nav-link" href="/product"> ➡️ Go to Products Page</a>
    </div>
    <div class="row">
        <a class="nav-link" href="/location"> ➡️ Go to Locations Page</a>
    </div>
    <div class="row">
        <a class="nav-link" href="/movement"> ➡️ Go to Product Movement Page</a>
    </div>
    <div class="row">
        <a class="nav-link" href="/report"> ➡️ Go to Reports Page</a>
    </div>
</div>
{% endblock %}